.inline-block{
    display: inline-block;
    vertical-align: top;
}

.logo{
    width: 23%;
    padding: 1%;
    text-align: center;
}

nav {
    width: 73%;
    padding: 1%;
    display: inline-block;
    padding-inline-end: 0%;
}

ul{
    width: 50%;
    margin-left: auto;
}

.heroImg{
height: 600px;
padding: 25px;
}

.content{
    width: 500px;
    margin: 0 auto;
}

footer{
    background-color: #373738;
    padding-inline-start: 30%;
}

li{
    padding-inline-start: 10%;
}
footer ul{
    display: inline-block;
    vertical-align: top;
    padding-inline-start: 5%;
}

.flexContainer{
    display: flex;
    width: 33%;
    margin: 50px;
    padding: 100px;
    flex-direction: column;

}

html{
    background-color: #FBF9F3;
}

.navigation{
     background-color: #D3D9D4;
}

.heroImg{
    background-color: #D3D9D4;
}

.myWork{
    background-color: #D3D9D4;
}

footer{
    background-color: #D3D9D4;
}

#pManor{
    width: 250px;
    height: 450px;
    float:right;
}

#CER{
    width: 250px;
    height: 450px;
    float: right;
}

#skillX{
    width: 250px;
    height: 450px;
    float:right;
}

h3{
    font-size: 25px;
}

p{
    font-size: 20px;
}

h1{
    font-size: 30px;
}
.workGrid{
    display: grid;

}

h4{
    font-size: 25px;
}

.workGrid{
    grid-area
}